/* table{
width: 100px;
margin:0 auto;
border-spacing:2px 5px;
} */

/* tr.even{

    background-color: cadetblue

} */
/* th,td{

padding: 20px;
border: 1px solid black;
}

tr:hover{ 

    background-color: chocolate;
} */



form{
width: 100px;
margin:0 auto;

}
input{

padding: 5px;
margin: 2px;
font-size: 1em;
}
input:focus{
background-color: rgb(84, 73, 73);

}

button{
   
    background-color: crimson;
    border-radius: 5px;
    color: darkgrey;
    padding: 5px;  
    margin:0em 5em;

    
}


