/* body{

    background-color: darkcyan;
}


.black{
    background-color: black;
    width: 200px;
    height: 200px;
    display: inline-block;
    
}
.white{
    background-color:white;
    width: 200px;
    height: 200px;
    display: inline-block;
}
.red{
    background-color:red;
    width: 150px;
    height:150px;
    position: absolute;
    top:30px;
    left: 30px;
    opacity: 0.5;
    z-index: -1;
    
} */

/* 
.ph1{

background-color: royalblue;
width: 940px;
float: left;

}

.ph2{

    background-color:salmon;
    width: 300px;
    float: left;
    }

    p{

clear: both;

    } */

    /* body{
  background-color: slateblue;

    } */

    /* @media only screen and (max-width:600px){
img{
width: 400px;

}

    } */

.main{

display: flex;
flex-direction: row;
justify-content: space-around;

}

   .one,.two,.three{
border: 1px solid steelblue;
/* width: 250px; */
   } 

   .one{
       flex:2
   }